<main>
  <h1>Catálogo de Livros</h1>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Título</th>
        <th scope="col">Resumo</th>
        <th scope="col">Editora</th>
        <th scope="col">Autores</th>
      </tr>
    </thead>
    <tbody *ngFor="let livro of livros">
      <tr>
        <td>
          {{ livro.titulo
          }}<button
            class="btn bg-danger"
            style="color: white"
            (click)="excluir(this.livro.codigo)"
          >
            Excluir
          </button>
        </td>
        <td>{{ livro.resumo }}</td>
        <td>{{ obternome(this.livro.codEditora) }}</td>
        <td>
          <ul *ngFor="let autor of livro.autores">
            <li>{{ autor }}</li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</main>
